html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.linerGradient1 {
  background-image: linear-gradient(to bottom right, #FF7F50, #FF5F1F);
}

.linerGradient2 {
  background-image: linear-gradient(to bottom right, #6495ED, #0F52BA);
}

.linerGradient3 {
  background-image: linear-gradient(to bottom right, #0BDA51, #355E3B);
}

.linerGradient4 {
  background-image: linear-gradient(to bottom right, #FFA500, #EC5800);
}
